@use "../../utilities/tokens" as *;
@use "../../utilities/mixins" as *;

//Estilos del label password

.labelPassword {
  font-size: $body;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.192px;
}

//Estilos del input password

.inputPassword {
  display: flex;
  width: var(--w, 200px);
  height: var(--h, 40px);
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid $gris;
  .iconButtonEye {
    background: none;
    border: none;
    cursor: pointer;
  }
  input {
    width: 80%;
    height: 100%;
    border: none;
    background: none;
    @include media(xs, lg) {
      font-size: 16px;
    }
    &::placeholder {
      color: $gris;
      opacity: 1;
    }
    &::placeholder {
      color: #aaa;
      transition: color 0.3s ease;
    }

    &:focus::placeholder {
      color: #ddd;
    }
    &:disabled {
      background: $gris;
      color: $texto;
      border: none;
      cursor: not-allowed;
      opacity: 0.7;
    }
    &:disabled::placeholder {
      color: $texto;
    }
  }
}

//Estilos de error para el inputPassword

.errorInputPassword {
  @extend .inputPassword;
  border: 1px solid $error;
  input {
    &::placeholder {
      color: $error;
    }
  }
}
